
#bg {
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	position: fixed; 
}

#bg img {
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
	position: absolute; 
}

form {
	top: 45%;
	left: 30%;
	right: 30%;
	height: 10%;
	position: fixed;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background: rgba(0, 0, 0, 0.75);
}

form label {
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	position: absolute;
	border-radius: 23px;
	-moz-border-radius: 23px;
	-webkit-border-radius: 23px;
	background: rgba(255, 255, 255, 0.75);
}

form label input {
	border: 0;
	padding: 0;
	width: 80px;
	color: #232323;
	font-size: 24px;
	background: none;
	font-weight: bold;
	font-family: sans-serif;
	border: 1px solid red;
}
